body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-container {
    /* background-color: rgb(255, 113, 113); */
    background-image: linear-gradient(to bottom right, salmon, rgb(185, 61, 61));
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-style: oblique;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.button-container {
    display: flex;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    padding: 0px 16px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 12px;
    background: white;
    cursor: pointer;
    margin-left: 10px;
    color: rgb(255, 113, 113);
}

.login-signup {
    border: 0;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    cursor: pointer;
    color: rgb(255, 113, 113);
    text-decoration: none;
}

.button-container:hover {
    background: rgb(255, 113, 113);
    color: white;
    transition: 0.2s ease;
}

.button-container:hover p {
    color: white;
    transition: 0.2s ease;
}

.search-input {
    flex: 1;
    border: none;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

main {
    display: flex;
    padding-top: 20px;
    margin: 0px 100px;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.grid-container {
    border-spacing: 20px;
    /* margin: auto; */
    /* margin-top: -150px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    display: flex;
    margin: 5px;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 113, 113);
    color: white;
    cursor: pointer;
    border: 5px solid rgb(255, 113, 113);
}

.grid-item:hover {
    background-color: white;
    color: rgb(255, 113, 113);
    transition: 0.2s ease;
    scale: 1.05;
}

.grid-item:active {
    scale: 1;
}

.selected-category {
    background-color: white;
    color: rgb(255, 113, 113);
}

.item-table {
    width: 100%;
    /* margin: auto; */
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-row {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    scale: 1.1;
    transition: 0.2s ease;

}

.card:active {
    scale: 1;
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.card-price {
    color: #f00;
}

/* Detail item */

.item-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.item-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.item-image {
    border: 1px solid seagreen;
    width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item-content {
    font-family: Helvetica, sans-serif;
}

.item-text {
    width: 55%;
}

#item-image {
    width: 100%;

}

li {
    list-style-type: none;
    font-family: Helvetica, sans-serif;
}

.item-title {
    font-size: 3em;
}

.item-price {
    font-size: 2em;
    color: salmon;
    margin: 20px 0px;
}

.item-desc {
    margin: 20px 0px;
}

.buy-btn {
    font-family: Helvetica, sans-serif;
    margin-left: 40px;
    background-color: salmon;
    border: none;
    scale: 2;
    border-radius: 5px;
}

.footer-area {
    /* border: 1px solid seagreen; */
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(254, 202, 202, 0.385);
    padding: 0px 50px;
}

.social-media {
    display: flex;
    gap: 15px;
}

.footer-text {
    height: 100%;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid salmon;
    margin-top: 20px;
    padding: 3px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.counter-btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    user-select: none;
    color: salmon;
}

.counter-btn:hover {
    background-color: #f6f1f1;
    transition: 0.2s ease;
}

.counter-btn.disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

.counter-value {
    margin: 0 20px;
}